{% if request.user.is_anonymous %}
  <p>GO AWAY!</p>
{% endif %}
{% if bookmarks %}
  <ol>
    <h3>Global bookmarks:</h3>
    {% for bookmark in bookmarks %}
      <li><a href="{{ bookmark.url }}">{{ bookmark.name }}</a></li>
    {% endfor %}
  </ol>
{% else %}
  <p>>we have NO global bookmarks :( </p>>
{% endif %}

{% if personal_bookmarks %}
  <ol>
    <h3>Personal bookmarks for {{ user }}:</h3>
    {% for pb in personal_bookmarks %}
      <li><a href="{{ pb.url }}">{{ pb.name }}</a></li>
    {% endfor %}
  </ol>
{% else %}
  <p>>we have NO PERSONAL bookmarks :( </p>
{% endif %}